<html>
<head>
	<title>Testing Page</title>
	<%= javascript_include_tag "mbox" %>
</head>
<body>
	<h1>This is the Test & Target testing page.</h1>
	<div class="mboxDefault"></div>
	<script type="text/javascript">
		mboxCreate('testingBox');	
	</script>
</body>
</html>